<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>psu.alfred.shortlet</string>
	<key>connections</key>
	<dict>
		<key>037E5131-155F-4983-A7B8-49BD7D3A1219</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F113A9C-899D-403A-AD80-E497638D491E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15D480D8-94CF-4316-9BF5-C66A3F9570FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>264AA159-3A9E-4DE0-B7FB-4FC4B16F8361</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7597562-37E7-4287-B171-71B0EC3898A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DAB377CF-8D1B-41B0-ACCD-0B60B0418F7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F72096E-1407-40B2-B627-D902F5A0F921</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91128EEE-6F41-4E00-B01C-3EE5FDABA901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BB817B-B7CB-486A-B127-DC9DEC295EAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CE9778D-AD3C-49F7-AEF7-4E22343BB0B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>777CED21-FC70-4A2E-8228-46FE4F897470</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90DBE604-1A14-43A8-85B1-F475C4B3F456</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91128EEE-6F41-4E00-B01C-3EE5FDABA901</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>264AA159-3A9E-4DE0-B7FB-4FC4B16F8361</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98DEBF2A-C55A-4BF4-A1E1-9F2703AD7732</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F113A9C-899D-403A-AD80-E497638D491E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7597562-37E7-4287-B171-71B0EC3898A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5093E34-6BFE-4B34-9D3A-645398E7BBD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7597562-37E7-4287-B171-71B0EC3898A8</key>
		<array/>
		<key>DAB377CF-8D1B-41B0-ACCD-0B60B0418F7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>037E5131-155F-4983-A7B8-49BD7D3A1219</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1DC466A-7725-49F1-8C3B-CDEC97918C75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F72096E-1407-40B2-B627-D902F5A0F921</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC24CD1B-80D4-41AE-BE8A-9AC8E5140E96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1B61FEC-5845-4FA0-B700-A660C74A8C02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9E1088B-E5C8-4DAE-ACAD-74E1D8357B60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pontus Sundén</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shortlet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E1DC466A-7725-49F1-8C3B-CDEC97918C75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>shortlet</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./filter.jxa "$focusedapp"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Shortlet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>264AA159-3A9E-4DE0-B7FB-4FC4B16F8361</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./load.jxa "$(cat ./inject.js)" "$(cat "$shortlets")" "$focusedapp"
echo ""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F72096E-1407-40B2-B627-D902F5A0F921</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91128EEE-6F41-4E00-B01C-3EE5FDABA901</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./execute.jxa "$(cat ./inject.js)" "$focusedapp" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7597562-37E7-4287-B171-71B0EC3898A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_search</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>90DBE604-1A14-43A8-85B1-F475C4B3F456</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./load.jxa "$(cat ./inject.js)" "$(cat "$shortlets")" "$focusedapp"
echo ""</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DAB377CF-8D1B-41B0-ACCD-0B60B0418F7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./filter.jxa "$focusedapp" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9F113A9C-899D-403A-AD80-E497638D491E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:hotkey_code}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>037E5131-155F-4983-A7B8-49BD7D3A1219</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>hotkey_code</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_save</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D5093E34-6BFE-4B34-9D3A-645398E7BBD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_create</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>15</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>R</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>15D480D8-94CF-4316-9BF5-C66A3F9570FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_delete</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F1B61FEC-5845-4FA0-B700-A660C74A8C02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_stop</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>98DEBF2A-C55A-4BF4-A1E1-9F2703AD7732</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>qlerify_delete_event</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>777CED21-FC70-4A2E-8228-46FE4F897470</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_edit</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F9E1088B-E5C8-4DAE-ACAD-74E1D8357B60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_cancel</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>53</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>⎋</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EC24CD1B-80D4-41AE-BE8A-9AC8E5140E96</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_click_confirm</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>36</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>↩</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CE9778D-AD3C-49F7-AEF7-4E22343BB0B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>akeneo_copy_paste_delete</string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>focusedapp</string>
				<key>hotkey</key>
				<integer>51</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>⌫</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>company.thebrowser.Browser</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>44BB817B-B7CB-486A-B127-DC9DEC295EAE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Shortlet - Alfred workflow

## About

This is the Alfred Workflow for Shortlet – a small utility to automate tasks in the browser.

## Installation

- Download and install workflow.
- Add your Shortlets to a shortlet.json file.
- Select your shortlet.json in Configure Workflow.

## Changelog

v3

- Create execute.jxa and move inject commands to it.
- Add readme.
- Add license.
- Add workflow icon.
- Replace domain with uri

v2

- Add "id" to shortlet definition.
- Use "id" to trigger pre-defined shortlets from single Hotkeys.
- Switched from nice browser names ("Google Chrome") to application id ("com.google.Chrome").
- Refactor JXA code to be run as shebang scripts.
- Move shortlets definitions to a separate file: shortlets.json

v1

- Run custom actions from Hotkey.
- Alfred workflow POC using Shortlet and Queue classes.
- Trigger filter by Hotkey.

## Roadmap

- Detect frontmost browser instead of using a pre-set var.
- Use website favicon</string>
	<key>uidata</key>
	<dict>
		<key>037E5131-155F-4983-A7B8-49BD7D3A1219</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>15D480D8-94CF-4316-9BF5-C66A3F9570FB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>264AA159-3A9E-4DE0-B7FB-4FC4B16F8361</key>
		<dict>
			<key>note</key>
			<string>Filter Shortlets based current tab</string>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>273C1F44-62CE-498B-9D8A-82ADC87AD8FC</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>3F72096E-1407-40B2-B627-D902F5A0F921</key>
		<dict>
			<key>note</key>
			<string>Load</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>44BB817B-B7CB-486A-B127-DC9DEC295EAE</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>4CE9778D-AD3C-49F7-AEF7-4E22343BB0B0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>777CED21-FC70-4A2E-8228-46FE4F897470</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>90DBE604-1A14-43A8-85B1-F475C4B3F456</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>91128EEE-6F41-4E00-B01C-3EE5FDABA901</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>98DEBF2A-C55A-4BF4-A1E1-9F2703AD7732</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>9F113A9C-899D-403A-AD80-E497638D491E</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Filter Shortlets based on current tab AND provided id</string>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>D5093E34-6BFE-4B34-9D3A-645398E7BBD8</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>D7597562-37E7-4287-B171-71B0EC3898A8</key>
		<dict>
			<key>note</key>
			<string>Execute</string>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>DAB377CF-8D1B-41B0-ACCD-0B60B0418F7B</key>
		<dict>
			<key>note</key>
			<string>Load</string>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>E1DC466A-7725-49F1-8C3B-CDEC97918C75</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>EC24CD1B-80D4-41AE-BE8A-9AC8E5140E96</key>
		<dict>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>F1B61FEC-5845-4FA0-B700-A660C74A8C02</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>F9E1088B-E5C8-4DAE-ACAD-74E1D8357B60</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>2</integer>
				<key>placeholder</key>
				<string>See workflow folder for example</string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select the JSON file in which you have defined your shortlets.</string>
			<key>label</key>
			<string>The file containing your shortlets</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>shortlets</string>
		</dict>
	</array>
	<key>version</key>
	<string>4</string>
	<key>webaddress</key>
	<string>http://pontus.cc</string>
</dict>
</plist>
