:root {
  /* theme */
  --shortlet_accent_color: 160, 30, 120;
  --shortlet_background_color: 2, 0, 1;
  --shortlet_gray_color: 142, 141, 140;
  --shortlet_text_color: 255, 255, 255;
  --shortlet_roundness: 16px;
  --shortlet_text_size: 18px;
  --shortlet_text_weight: 400;
  --shortlet_dim_page: 0;
  --shortlet_width: 666px;
  --shortlet_spacing: 10px;
  --shortlet_font: system-ui, -apple-system, 'Helvetica Neue', Helvetica, BlinkMacSystemText, 'Segoe UI', Ubuntu, sans-serif;
  --shortlet_position_top: 30vh;
  --shortlet_position_left: 45vw;
  --shortlet_opacity: 0.75;
}

#shortlet-command-pal {
  /* all */
  --modal_mask_color: 0, 0, 0;
  --palette_modal_mask: rgba(var(--modal_mask_color), var(--shortlet_dim_page));
  --palette_shadow: rgba(var(--modal_mask_color), calc(var(--shortlet_opacity) - 0.6)) 0px 4px 16px;
  --palette_top: var(--shortlet_position_top);
  --palette_left: calc(var(--shortlet_position_left) - var(--palette_width) / 2);
  --palette_width: var(--shortlet_width);
  --palette_background: rgba(var(--shortlet_background_color), var(--shortlet_opacity));
  --palette_background_blur: calc(var(--shortlet_opacity) * 20px);
  --palette_padding: calc(var(--shortlet_spacing) * 0.67);

  --palette_border_radius: var(--shortlet_roundness);
  --palette_border_color: rgba(var(--shortlet_gray_color), 0.4);
  --palette_scrollbar_color: rgba(var(--shortlet_text_color), 0.1);
  --palette_scrollbar_width: calc(var(--shortlet_text_size) * 0.25);

  --palette_font: var(--shortlet_font);

  --search_background: rgba(var(--shortlet_accent_color), 0.33);
  --search_height: calc(var(--shortlet_text_size) * 1.65);
  --search_padding_horizontal: calc(var(--shortlet_spacing) * 0.8);
  --search_padding_vertical: calc(var(--shortlet_spacing) * 0.67);
  --search_border_radius: calc(var(--palette_border_radius) * 0.67);

  --search_text_color: rgba(var(--shortlet_text_color), 0.85);
  --search_text_size: calc(var(--shortlet_text_size) * 1.25);
  --search_text_weight: calc(var(--shortlet_text_weight) * 0.9);
  --search_selection_text_color: rgba(var(--shortlet_text_color), 1);
  --search_selection_text_background: rgba(var(--shortlet_text_color), 0.6);
  --search_placeholder_text_color: rgba(var(--shortlet_text_color), 0.33);

  --item_horizontal_padding: calc(var(--shortlet_spacing) * 0.9);
  --item_vertical_padding: calc(var(--shortlet_spacing) * 0.33);
  --item_border_radius: calc(var(--palette_border_radius) * 0.4);
  --item_text_color: rgba(var(--shortlet_text_color), 0.62);
  --item_text_size: var(--shortlet_text_size);
  --item_text_weight: var(--shortlet_text_weight);
  --item_selected_text_color: rgba(var(--shortlet_text_color), 1);
  --item_selected_background: rgba(var(--shortlet_gray_color), 0.25);

  --shortcut_symbol_text_size: calc(var(--shortlet_text_size) * 0.5);
  --shortcut_text_size: calc(var(--shortlet_text_size) * 0.8);

  --shortcut_symbol_text_weight: calc(var(--shortlet_text_weight) * 1.5);
  --shortcut_text_weight: calc(var(--shortlet_text_weight) * 1.5);

  --shortcut_symbol_text_color: rgba(var(--shortlet_text_color), 0.6);
  --shortcut_text_color: rgba(var(--shortlet_text_color), 0.2);

  --shortcut_symbol_background_color: rgba(var(--shortlet_gray_color), 0.3);
  --shortcut_background_color: none;

  --shortcut_symbol_border_bottom: 1px solid rgba(var(--shortlet_background_color), 0.4);
  --shortcut_border: none;

  --shortcut_selected_text_color: rgba(var(--shortlet_text_color), 0.6);
  --shortcut_selected_symbol_text_color: rgba(var(--shortlet_text_color), 0.9);
  --shortcut_selected_symbol_background_color: rgba(var(--shortlet_accent_color), 0.3);

  --shortcut_symbol_padding: calc(var(--shortlet_text_size) * 0.1);
  --shortcut_symbol_spacing: calc(var(--shortlet_text_size) * 0.1);
}

#shortlet-command-pal {
  z-index: 99999999;
}

#shortlet-command-pal .modal-container {
  max-width: var(--palette_width);
  margin-top: var(--palette_top);
  margin-left: var(--palette_left);
  background-color: var(--palette_background);
  border-radius: var(--palette_border_radius);
  border: thin groove var(--palette_border_color);
  padding: 0;
  padding-bottom: var(--palette_padding);
  box-shadow: var(--palette_shadow);
  backdrop-filter: blur(var(--palette_background_blur));
}
#shortlet-command-pal .search-box {
  background: var(--search_background);
  border: none;
  border-radius: var(--search_border_radius);
  margin: var(--palette_padding);
  padding: 0;
}

#shortlet-command-pal input,
#shortlet-command-pal input:active,
#shortlet-command-pal :focus:not(:focus-visible),
#shortlet-command-pal input:not([disabled]):focus,
#shortlet-command-pal input:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none !important;
  border: none !important;
}

#shortlet-command-pal .search {
  font-family: var(--palette_font);
  font-weight: var(--search_text_weight);
  font-size: var(--search_text_size);
  height: var(--search_height);
  border: none;
  color: var(--search_text_color);
  padding: 0;
  margin-top: var(--search_padding_vertical);
  margin-bottom: var(--search_padding_vertical);
  margin-left: calc(var(--search_padding_horizontal));
  margin-right: calc(var(--search_padding_horizontal));
  background-color: transparent;
  width: calc(100% - var(--search_padding_horizontal) * 2 - var(--palette_padding) * 2);
}
#shortlet-command-pal .search::placeholder {
  color: var(--search_placeholder_text_color);
}
#shortlet-command-pal .search:focus {
  color: var(--search_text_color);
}
#shortlet-command-pal .search::selection {
  color: var(--search_selection_text_color);
  background: var(--search_selection_text_background);
}
#shortlet-command-pal .item-list {
  margin: 0;
  padding: 0;
}
#shortlet-command-pal .no-matches,
#shortlet-command-pal .item {
  font-family: var(--palette_font);
  font-weight: var(--item_text_weight);
  font-size: var(--item_text_size);
  color: var(--item_text_color);
  border-radius: var(--item_border_radius);
  height: calc(var(--item_text_size) * 2 + var(--item_vertical_padding) * 2);
  margin: 0;
  margin-left: var(--palette_padding);
  padding: 0;
  padding-left: var(--item_horizontal_padding);
  padding-right: var(--item_horizontal_padding);
}
#shortlet-command-pal .no-matches {
  padding: var(--search_padding_horizontal);
  padding-top: calc(var(--item_vertical_padding) * 3);
}

#shortlet-command-pal .item span {
  margin-top: 1px;
}
#shortlet-command-pal .item.selected {
  color: var(--item_selected_text_color);
  background-color: var(--item_selected_background);
}
#shortlet-command-pal kyb {
  font-family: var(--palette_font);
  font-weight: var(--shortcut_text_weight);
  background-color: var(--shortcut_background_color);
  color: var(--shortcut_text_color);
  border: var(--shortcut_border);
  font-size: var(--shortcut_text_size);
}
#shortlet-command-pal kyb .symbol {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  font-size: var(--shortcut_symbol_text_size);
  font-weight: var(--shortcut_symbol_text_weight);
  color: var(--shortcut_symbol_text_color);
  line-height: var(--shortcut_text_size);
  background-color: var(--shortcut_symbol_background_color);
  border-radius: calc((var(--shortcut_text_size) + var(--shortcut_symbol_padding) * 2) / 4);
  border-bottom: var(--shortcut_symbol_border_bottom);
  margin-left: var(--shortcut_symbol_spacing);
  padding: var(--shortcut_symbol_padding);
  min-width: calc(var(--shortcut_text_size) + var(--shortcut_symbol_padding) * 2);
  min-height: calc(var(--shortcut_text_size) + var(--shortcut_symbol_padding) * 2);
}
#shortlet-command-pal .item.selected kyb {
  color: var(--shortcut_selected_text_color);
}
#shortlet-command-pal .item.selected kyb .symbol {
  color: var(--shortcut_selected_symbol_text_color);
  background-color: var(--shortcut_selected_symbol_background_color);
}
#shortlet-command-pal .items-list {
  margin: 0;
  padding: 0;
  margin-right: calc(var(--palette_padding) * 0.6);
  padding-right: calc(var(--palette_padding) * 0.4);
}
#shortlet-command-pal .items-list::-webkit-scrollbar {
  width: var(--palette_scrollbar_width);
}
#shortlet-command-pal .items-list::-webkit-scrollbar-track {
  background: transparent;
}
#shortlet-command-pal .items-list::-webkit-scrollbar-thumb {
  background: var(--palette_scrollbar_color);
  border-radius: var(--palette_border_radius);
}

#shortlet-command-pal .modal-mask {
  background-color: var(--palette_modal_mask);
}
